/* =================================== */
/* About Us Page */
/* =================================== */
@import url("./global.css");
@import url("./nav.css");
@import url("./footer.css");

.about-hero {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr minmax(20vh, auto);
  padding-top: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/h-about-img.jpg") center/cover no-repeat;
}
.about-hero-container {
  color: var(--bg-primary);
  align-self: center;
  max-width: 300px;
}
.about-sub-hero-container {
  width: 100%;
  background: rgba(0, 145, 120, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (width >= 900px) {
  .about-hero::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2rem;
    background: var(--accent);
  }
  .about-hero-container {
    height: 100%;
    color: var(--bg-primary);
    align-content: center;
    justify-items: center;
    row-gap: 0;
  }
  .about-hero-title-container {
    align-self: start;
  }
}
@media screen and (width >= 1200px) {
  .about-hero-container {
    max-width: 1200px;
  }
}

/* =================================== */
/* ABOUT US */
/* =================================== */
.about {
  background: var(--bg-secondary);
}
.about-header {
  margin-bottom: 1rem;
}
.about-content {
  margin: 2.5rem 0;
  max-width: 9999px;
}
.about-description {
  font-weight: 500;
  color: var(--fg);
}
.about-img-container {
  width: 100%;
  aspect-ratio: 16/10;
  position: relative;
  border: var(--border-large);
  transition: var(--transition);
}
.about-img-container:hover {
  border-color: var(--fg);
}
.about-img {
  max-width: 100%;
  max-height: 100%;
}
.btn-read-more {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.6rem 0.6rem;
  background: transparent;
  color: var(--fg);
  border: var(--border-small);
}
.btn-read-more:hover {
  color: var(--bg-primary);
  background: var(--accent);
}
.content-divider {
  background: var(--fg);
  height: 2px;
  width: 100%;
}
.dark .content-divider {
  display: none;
}
@media screen and (width >= 600px) {
  .about-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (width >= 1150px) {
  .content-divider {
    display: none;
  }
  .about-content {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: [start] 1fr [col-1-end] 1fr [end];
    grid-template-rows: [start] 1fr [end];
    column-gap: 1rem;
    box-shadow: none;
  }
  .about-header {
    margin-bottom: 0;
  }
  .about-description {
    font-size: 1rem;
  }
  .about-header {
    min-width: 509px;
    max-width: 700px;
    align-self: center;
    justify-self: center;
  }
  .about-img-container {
    justify-self: start;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 509px;
    height: 325px;
  }
  .about-img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
  .about-content:nth-child(3n) .about-text {
    grid-column: col-1-end/end;
    grid-row: start/end;
  }
  .about-content:nth-child(3n) .about-img-container {
    grid-column: start/col-1-end;
    grid-row: start/end;
    justify-self: end;
  }
  .btn-read-more {
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
  }
}

/* location map */
.location {
  background: var(--bg-primary);
}
.about-map-container {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  gap: 1rem;
}
.about-map-title-container {
  margin-bottom: 2rem;
}
.about-map:hover {
  border-color: var(--fg);
}
.about-map-description {
  font-weight: 400;
  font-size: 1rem;
  color: var(--fg);
}
.about-map-description {
  letter-spacing: var(--letter-spacing);
}
.map {
  width: 90vw;
  aspect-ratio: 16 / 10;
  border: var(--border-large);
  transition: var(--transition);
  z-index: 1;
}
.map:hover {
  border-color: var(--fg);
}
.leaflet-control-attribution.leaflet-control {
  display: none;
}
.leaflet-popup-content {
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent);
}
@media screen and (width >= 600px) {
  .map {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (width >= 1150px) {
  .about-map-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .about-map-title-container {
    max-width: 500px;
    justify-self: center;
    margin-bottom: 0;
  }
  .map {
    max-width: 650px;
    transition: var(--transition);
    justify-self: start;
    margin: 0;
  }
}
