/* =================================== */
/* About Us Page */
/* =================================== */
@import url("./global.css");
@import url("./nav.css");
@import url("./footer.css");

/* HERO */
.services-hero {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr minmax(20vh, auto);
  padding-top: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/h-about-img-2.jpg") center/cover no-repeat;
}
.services-hero-container {
  color: var(--bg-primary);
  align-self: center;
  max-width: 300px;
}
.services-sub-hero-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.services-sub-hero-description {
  color: var(--fg);
  max-width: 90vw;
  font-size: 1.4rem;
}
.services-hero-title {
  font-weight: 400;
  font-size: 3rem;
}
.services-hero-container .business-logo {
  max-width: 150px;
}
@media screen and (width >= 500px) {
  .services-hero-title {
    font-size: 4rem;
  }
  .services-hero-container {
    /* padding-top: 3rem; */
  }
  .services-sub-hero-description {
    font-size: 1.5rem;
  }
}
@media screen and (width >= 900px) {
  .services-hero-container {
    height: 100%;
    color: var(--bg-primary);
    /* display: grid; */
    align-content: center;
    justify-items: center;
    row-gap: 0;
    /* padding-top: 4rem; */
  }
  .services-hero-title-container {
    align-self: start;
  }
  .services-hero-title-container .business-logo {
    max-width: 200px;
  }
  .services-hero-title {
    margin-bottom: 0;
  }
}
@media screen and (width >= 1200px) {
  .services-hero-container {
    max-width: 1200px;
  }
  .services-hero-title {
    justify-self: start;
    margin-bottom: 0;
    font-size: 4rem;
  }
  .services-hero-description {
    font-size: 1.4rem;
  }
  .services-sub-hero-description {
    max-width: 80vw;
  }
}

/* =================================== */
/* Services */
/* =================================== */
.services {
  position: relative;
}
.services::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2rem;
  background: var(--accent);
}
.service-icon-container svg {
  height: 45px;
  width: 45px;
}
.services-text {
  font-size: 2rem;
  font-weight: 500;
  padding: 0;
}
.services-title {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--fg);
  font-size: 1.5rem;
}
.services-description {
  color: var(--fg);
  font-size: 2rem;
}
.services-list {
  margin-top: 2.5rem;
}
.services-btn-container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.services-load-more-btn,
.services-show-less-btn {
  display: block;
  fill: var(--fg);
  width: 40px;
  height: 40px;
  transition: var(--transition);
}
.services-load-more-btn:hover,
.services-show-less-btn:hover {
  fill: var(--accent);
}
.service {
  display: grid;
  align-content: center;
  border: 2px solid var(--fg-2);
  padding: 1rem;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.service-title {
  margin-bottom: 0.5rem;
}
.service-description {
  color: var(--fg-2);
}
.service-icon-container {
  margin-bottom: 0.5rem;
}
@media screen and (width >= 900px) {
  .services-container {
    /* padding: 0; */
    /* display: grid; */
    /* min-height: 150vh; */
    padding: 4rem 0;
  }
  .bg {
    margin: 4rem auto;
  }
  .services-list {
    display: grid;
    min-height: 150vh;
    background: var(--fg-2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
  }
  .services-btn-container {
    display: none;
  }
  .services-header {
    background: var(--white);
    margin-bottom: 0;
    align-self: start;
  }
  .service {
    height: 100%;
    max-width: 9999px;
    margin: 0;
    display: grid !important;
    justify-items: start;
    align-content: center;
    background: var(--white);
    margin-bottom: 0;
    border: none;
  }
  .service:nth-child(1),
  .service:nth-child(2) {
    border-top: 2px solid var(--fg-2);
  }
  .service:nth-child(7),
  .service:nth-child(8) {
    border-bottom: 2px solid var(--fg-2);
  }
  .service:nth-child(odd) {
    border-left: 2px solid var(--fg-2);
  }
  .service:nth-child(even) {
    border-right: 2px solid var(--fg-2);
  }
  .service:not(:nth-child(2), :nth-child(6)):nth-child(even),
  .service:not(:nth-child(3), :nth-child(7)):nth-child(odd) {
    background: var(--bg-primary);
  }
  .bg .content-divider {
    display: none;
  }
}
@media screen and (width >= 1200px) {
  .bg {
    max-width: 80%;
    max-width: 100%;
  }
}

/* =================================== */
/* Stats */
/* =================================== */
.stats {
  background: var(--accent);
}
.services-stats-header {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.services-stats-title,
.services-stats-description {
  color: var(--bg-primary);
}
.services-stats-title {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.services-stats-description {
  font-size: 2rem;
}
.stat {
  color: var(--bg-primary);
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
  border: 2px solid var(--bg-primary);
  padding: 1rem;
}
.stat-title {
  color: var(--bg-primary);
  /* font-weight: 400; */
}
.stat-sub-title {
  font-weight: 400;
}
@media screen and (width >= 500px) {
  .services-stats-header {
    margin-bottom: 4rem;
  }
  .stat {
    margin-bottom: 4rem;
  }
}
@media screen and (width >= 900px) {
  .stats {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bg-stats.jpg") center/cover no-repeat fixed;
  }
  .services-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .services-stats-header {
    justify-content: start;
  }
  .stat {
    margin-bottom: 0;
    max-width: 700px;
    text-align: left;
    border: none;
    padding: 0;
  }
}
@media screen and (width >= 1300px) {
  .services-stats {
    grid-template-columns: repeat(auto-fill, minmax(calc(30% - 2rem), 1fr));
  }
}

/* =================================== */
/* Reviews */
/* =================================== */
.reviews {
  background: var(--white);
}
.services-reviews-title {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--fg);
  font-size: 1.5rem;
  text-align: center;
}
.swiper-pagination-bullet {
  background: var(--accent);
  width: 12px;
  height: 12px;
}
.slides-wrapper {
  overflow: hidden;
  max-width: 400px;
  height: 480px;
  margin: 0 auto;
  padding: 0 0.5rem;
  padding-bottom: 3rem;
}
.review {
  width: 100%;
  height: 100%;
  border: 2px solid var(--fg-2);
  padding: 1rem;
  cursor: pointer;
}
.review-client-img-container {
  /* border-top-left-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
  border: 2px solid var(--fg-2);
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-bottom: 1rem;
}
.review-client-img {
  /* border-top-left-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
  width: 100%;
  height: 100%;
}
.review-client-name {
  color: var(--fg);
  font-size: 1.5rem;
  letter-spacing: 1px;
  /* text-align: center; */
  margin-bottom: 1rem;
}
.review-description {
  color: var(--fg);
  font-size: 1rem;
  font-style: italic;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
@media screen and (width >= 500px) {
  .slides-wrapper {
    height: 400px;
  }
}
@media screen and (width >= 900px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .slides-wrapper {
    max-width: 800px;
    width: 800px;
    height: 416px;
  }
}
@media screen and (width >= 1200px) {
  .slides-wrapper {
    max-width: 1080px;
    width: 1080px;
  }
}
